<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.ybt.toolkit.dao.SysMessageGroupMapper">
	<resultMap id="BaseResultMap"
		type="com.springboot.ybt.toolkit.entity.SysMessageGroup">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="createDateTime" jdbcType="TIMESTAMP" property="createdatetime" />
		<result column="deleted" jdbcType="INTEGER" property="deleted" />
		<result column="updateDateTime" jdbcType="TIMESTAMP" property="updatedatetime" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="sort" jdbcType="INTEGER" property="sort" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="remark" jdbcType="LONGVARCHAR" property="remark" />
	</resultMap>


	<select id="getMessageGroupByUserId" resultType="hashmap"
		parameterType="String">
		SELECT mg.id id,mg.name name,count(mgu.id) as userNum
		FROM sys_message_group_user mgu
		left join sys_message_group mg on mgu.group_id=mg.id
		where mg.user_id=#{userId} group by mgu.group_id order by mg.sort
	</select>
</mapper>